{% extends 'board/index.html' %}

{% block content %}
	{% for post in posts %}		
		<div class="list">
			<a href="{% url 'post_detail' pk=post.pk nowPage=nowPage %}">
				<span class="post-title">{{ post.title }}</span>
				<span class="create-time">{{ post.author }} / {{ post.published_date }}</span>
			</a>
		</div>
	{% endfor %}

	<div class="paging">
		{% for page in pages %}
			<a href="{% url 'post_list' nowPage=page %}" class="page pageNum{{ page }}">{{ page }}</a>
		{% endfor %}
	</div>

	<div class="buttons">
		<a class="new-btn" href="{% url 'post_new' nowPage=1 %}">글쓰깅 &gt;0&lt;</a>
	</div>
{% endblock%}