{% extends 'board/index.html' %}

{% block content %}
	<div class="post">
		<span class="detail-title">{{ post.title }}</span>
		<span class="author-time">{{ post.author }} / {{ post.published_date }}</span>
		<p>{{ post.text }}</p>
	</div>
	<div class="buttons">
		<a class="list-btn" href="{% url 'post_list' %}">&lt; Go to List</a>
		<a class="edit-btn" href="{% url 'post_edit' pk=post.pk %}">Edit Post</a>
		<a class="delete-btn" id="postDelete" href="#">Delete Post ㅠ.ㅠ</a>
	</div>

	<script type="text/javascript">
		var btn = document.getElementById("postDelete");
		
			alert("어떻게 되었을 것인가 ?????????");
		

		// btn.click(function(e){
		// 	e.preventDefault()
		// 	if(confirm("정말 지울거예여????")){
		// 		this.href("{% url 'post_delete' pk=post.pk %}")
		// 	}
		// });

	</script>
{% endblock content %}