@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
a, button {text-decoration: none; border:none;}

h1 {margin:100px 0 50px; text-align:center;}

form p {margin:15px 0;}
input {width:300px; height:30px; border:none; border-bottom:2px #ccc solid;}
textarea {width:100%; height:300px; border:none; border:2px #ccc solid;}

#title {color:#333;}

.wrap {margin: 0 10%;}

.contentWrap {width:100%; float:left; padding:0 0 50px 0;}

.list-wrap {width:100%; float:left; margin:0 0 50px 0;}
.list {width:25%;/* margin:15px 0;*/ float:left;}
.list:hover {background: #f3f3f3;}
.list a {width: 100%; height: 100%; text-decoration: none; padding:20px; float: left;}

.list span {display: block;}
.post-title {font-size: 20pt; color:#a58; margin:0 0 10px 0;}
.create-time {font-size: 11pt; color:#999;}

.buttons {width:100%; float:left; text-align:center; margin:50px 0 0;}
.buttons a, .save-btn {
	font-size:14pt;
	font-weight: bold;
	color:#fff;
	background:#a58;
	margin:0 10px;
	padding: 12px 30px 10px;
	border-radius:15px;
}

.buttons a:hover, .save-btn:hover{
	color:#fff;
	background:#d8a;
}

.paging {margin:0 auto; text-align:center;}

.page {
	float: left;
    width: 15px;
    height: 25px;
    color: #aaa;
    border-radius: 6px;
    padding:4px 3px;
}

.page:hover {color:#d8a;}

.nowPage {color:#fff; font-weight:bold; background:#a58;}

